<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block framework %}{% endblock %}

        {% stylesheets '@AppBundle/Resources/public/css/foundation.css'
                       '@AppBundle/Resources/public/css/base.css' %}
            <link rel='stylesheet' href="{{ asset_url }}" />
        {% endstylesheets %}



    </head>
    <body>
        {% javascripts '@AppBundle/Resources/public/js/jquery.js'
                       '@AppBundle/Resources/public/js/jquery.contextMenu.js'
                       '@AppBundle/Resources/public/js/what-input.min.js'
                       '@AppBundle/Resources/public/js/foundation.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <div class="top-bar">
            <div id="site-header"></div>
        </div>

        <div class="off-canvas-wrapper" style='height: calc(100% - 93px);'>
            <div class="off-canvas-wrapper-inner" style='height: 100%;' data-off-canvas-wrapper>



                <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas></div>

                <div class="off-canvas-content"  style='height: 100%;' data-off-canvas-content>

                    <div class='row column'  style='height: 100%; overflow-y: auto; width: 100%; margin-left: auto; margin-right: auto; padding-top: 3px; padding-bottom: 3px; max-width: initial;'>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}

        <script>
            $(document).foundation();

            $(function(){
                $.contextMenu("html5");
            });
        </script>

        {% block stylesheets %}{% endblock %}
    </body>
</html>
