.userContainer
{
    height: 100px;
    width: 100px;
}
.userVideo
{
    height: 80%;
    width: 100%;
}
.userName
{
    height: 10%;
    width: 100%;
}

#whiteboard-app
{
    height: 70%;
    width: 100%;
    max-width: 2400px;
}
#media-app
{
    height: 20%;
    width: 100%;
    max-width: 2400px;
}
#whiteboard-container
{
    position: relative;
    border-style: solid;
    border-color: red;
    height: 100%;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}
#whiteboard-row
{
    height: 100%;
    width: 100%;
    max-width: 2400px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}
#whiteBoard-output
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
#whiteBoard-input
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.colour-button
{
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}
.mode-button
{
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}
#black-button
{
    background-color: #555555;
}
#red-button
{
    background-color: #ff3300;
}
#green-button
{
    background-color: #66ff33;
}
.pressed-colour
{
    border: 2px solid white;
}
.pressed-mode
{
    border: 2px solid white;
}
.whiteboard-controlgroup
{
    margin-bottom: 16px;
}
