.userVideo
{
    height: 80%;
    width: 100%;
}
.userName
{
    height: 10%;
    width: 100%;
}

.blinking
{
  animation: blinker 1s linear infinite;
}

@keyframes blinker
{
  50% { opacity: 0.0; }
}

#whiteboard-app
{
    display:table-row;
    height: 100%;

}
#media-app
{
    display:table-row;
}
#whiteboard-container
{
    position: relative;
    border-style: solid;
    border-color: red;
    height: 100%;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}
#whiteboard-row
{
    height: 100%;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}
#whiteBoard-output
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
#whiteBoard-input
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.colour-button
{
    border-radius: 0px;
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}
.pressed-colour
{
    border: 2px solid white;
}
#black-button
{
    background-color: #555555;
}
#red-button
{
    background-color: #ff3300;
}
#green-button
{
    background-color: #66ff33;
}

.mode-button
{
    border-radius: 0px;
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}
.pressed-mode
{
    border: 2px solid white;
}
.whiteboard-controlgroup
{
    margin-bottom: 16px;
}

.style-button
{
    border-radius: 0px;
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}
.pressed-style
{
    border: 2px solid black;
    background-color: #ff3300;
}

.noselect
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
